@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ULTIMATE FRISBEE</h1>
    <h4 class="display-8">no, not disc golf</h4>
	<br />

	<p>
		Ultimate Frisbee is a non-contact team sport played with a flying disc. Games are usually played to 15 points or a time cap, with teams switching ends after a score.
	</p>

	<img src="~/byuchi_teampic.png" height="600"/>

	<br />
    <p align="left">The main rules include:
        <ul align="left">
			<li>
				Teams & Objective – Two teams of seven players each try to score points by catching the disc in the opponent's end zone.
			</li>
			<li>
				Starting Play – A game begins with a pull (throw-off) from one team to the other.
			</li>
			<li>
				Movement – Players cannot run while holding the disc; they must pass it to teammates. The thrower has 10 seconds to throw.
			</li>
			<li>
				Turnovers – A turnover occurs if a pass is incomplete (dropped, intercepted, out of bounds, or stalled for 10 seconds), and the opposing team gains possession.
			</li>
			<li>
				Scoring – A point is scored when a player catches the disc in the opposing team’s end zone.
			</li>
			<li>
				Fouls & Contact – No physical contact is allowed. Fouls occur for picks, strips, and contact; play stops when a foul is called.
			</li>
			<li>
				Spirit of the Game – Ultimate is self-officiated, meaning players call their own fouls and resolve disputes with good sportsmanship.
			</li>
        </ul>
    </p>

	<img src="~/autumn_layout.jpg" height="600" />

</div>
